<noscript>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Achtung!</h4>
        <b>Sie haben kein JavaScript aktiviert! JavaScript ist zur korrekten Darstellung dieser Seite erforderlich und sollte standardmäßig in Ihrem Browser aktiviert sein.</b>
    </div>

</noscript>