{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 10px;">

        <h3>Angaben gemäß §5 TMG</h3>

        <p>J. B. Heuschen<br>
            Renettenstraße 10<br>
            60435 Frankfurt am Main</p>
        <a href="mailto:postmaster@fheuschen.de">postmaster@fheuschen.de</a>

        <br><b>Hinweis: diese Seite ist im Rahmen eines Unterrichtsprojektes entstanden und soll dementsprechend kein käuflich erwerbliches Produkt bewerben!</b>

    </div>

{% endblock %}
