<div class="modal fade" id="demo_modalModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="demo_modalModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demo_modalModalCenterTitle">Demozugriff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Selbstverständlich können Sie sich jederzeit selbst von unserem Produkt überzeugen - nutzen Sie dafür einfach die öffentliche Demo. Im Bedarfsfall stellen wir Ihnen jedoch auch gerne eine persönliche Demo bereit - schreiben Sie uns hierzu einfach an!</p>

                <h4>Zugangsdaten</h4>

                <dl class="row">
                    <dt class="col-sm-3">Benutzername</dt>
                    <dd class="col-sm-9"><i>demo@fheuschen.de</i></dd>

                    <dt class="col-sm-3">Passwort</dt>
                    <dd class="col-sm-9"><i>demo</i></dd>
                </dl>

                <small><i>Hinweis: Die Demo wird nachts mit dem <abbr
                                title="enthält den neusten stabilen Entwicklungsstand">Master-Zweig</abbr> der
                        Versionsverwaltung synchronisiert, wodurch gewährleistet werden wird, dass die Demo stets auf
                        neusten Stand ist. Im Zuge der Synchronisierung kann es zu einer kurzzeitigen Unterbrechung der
                        Erreichbarkeit der Seite kommen - versuchen Sie es in diesem Fall einfach noch einmal <abbr
                                title="Die Synchronisierung dauert in der Regel zwischen 2 und 7 Minuten.">etwas</abbr>
                        später.</i></small>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                <a href="https://dev.fheuschen.de/mvv" target="_blank" class="btn btn-secondary">Zur Demo</a>
            </div>
        </div>
    </div>
</div>