{% extends 'base.html.twig' %}

{% block title %}Demo{% endblock %}

{% block body %}

    <div class="container">
        <h1>Zur Demo</h1>

        <p>Sie können sich selbstverständlich jederzeit selbst von unserem Produkt überzeugen - nutzen Sie hierzu einfach die öffentliche Demo. Gerne stellen wir Ihnen auf Anfrage auch eine persönliche Demo bereit!</p>
    </div>

{% endblock %}
