{% extends 'base.html.twig' %}

{% block title %}Was ist Cloud-Hosting?{% endblock %}

{% block body %}

<div class="container mrt-20">

    <h1>Was ist Cloud-Hosting?</h1>

    <div class="table-responsive">

        <table class="table table-borderless text-white">

            <tr><th style="width: 50%">Cloud-Hosting</th><th style="width: 50%">"Self-Hosting"</th></tr>
            <tr>
                <td>
                    <p>Wenn Sie die Option <i>Cloud-Hosting</i> wählen, kümmern wir (MercrediInventions) uns um alles nötige zum stabilen Betrieb von MediFix. Dies reicht von der Anmietung der entsprechenden Server bis zum regelmäßigen Einspielen von Updates - <strong>und alles das ist im Preis enthalten!</strong></p>
                </td>
                <td>
                    <p>Wenn Sie die Option <i>Self-Hosting</i> wählen, stellen wir Ihnen die Software als geschützten Download bereit. Diese Option ist für technisch Erfahrene Personen geeignet.</p>
                </td>
            </tr>

        </table>

    </div>

    <a class="btn btn-success" href="{{ path('index') }}#pricing">zurück</a>

</div>

{% endblock %}
