<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gray-900">
    <a class="navbar-brand" href="#">Firmenname</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nava" aria-controls="nava" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nava">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Start <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Produkte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Über uns</a>
            </li>
        </ul>
    </div>
</nav>