<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gray-900">
    <a class="navbar-brand lobster" href="{{ path('index') }}">Mercredi Inventions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nava" aria-controls="nava" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nava">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get('_route') in [
                'index'
            ] %}active{% endif %}">
                <a class="nav-link" href="{{ path('index') }}">Start <span class="sr-only">(current)</span></a>
            </li>
            {#<li class="nav-item {% if app.request.attributes.get('_route') in [
                'product_index',
                'product_show',
                'product_edit',
                'product_delete'
            ] %}active{% endif %}">
                <a class="nav-link" href="{{ path('product_index') }}">Produkte</a>
            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Über uns</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#demo_modalModalCenter">
                    Demo
                </a>
            </li>
        </ul>
    </div>
</nav>