<div class="card-deck feature-deck">


    <div class="card text-center feature">

        <i class="fas fa-search fa-5x"></i>

        <h3>Suche</h3>

        <p class="feature-desc away">Die Suchfunktion ermöglichst es Ihnen, Ihre liebsten Werke mit wenigen Klicks zu finden.</p>

        <div class="card-footer">
            <a class="btn btn-secondary w-100" href="#" data-icon="search" data-title="Suche" data-description="Die Suchfunktion ermöglicht es Ihnen auch einfachste Weise, Ihre Lieblingswerke mit nur wenigen Klicks zu finden. Hierbei wird durch eine Autovervollständigung bereits beim Eintippen eine Orientierung geboten." data-toggle="modal" data-target="#details">Mehr</a>
        </div>

    </div>


    <div class="card text-center feature">

        <i class="fas fa-users-cog fa-5x"></i>

        <h3>Benutzerverwaltung</h3>

        <p class="feature-desc away">Eine einfach gehaltene Benutzerverwaltung ermöglicht es Ihnen, Nutzer der Software auf einfache Weise zu verwalten.</p>

        <div class="card-footer">
            <a class="btn btn-secondary w-100" href="#" data-icon="users-cog" data-title="Benutzerverwaltung" data-description="Eine einfach gehaltene Benutzerverwaltung ermöglicht Ihnen eine leichte Verwaltung Ihrer Nutzer. Desweiteren ist in bestimmten Abos eine <abbr title='Lightweight Directory Access Protocol'>LDAP-Anbindung</abbr> vorhanden, wodurch es Ihnen ermöglicht wird, die Software automatisch für alle Nutzer Ihres Apple- oder Windowsnetzwerkes zugänglich zu machen." data-toggle="modal" data-target="#details">Mehr</a>
        </div>

    </div>

    <div class="card text-center feature">

        <i class="fas fa-adjust fa-5x"></i>

        <h3>Dunkelmodus</h3>

        <p class="feature-desc away">Der Dunkelmodus ermöglicht Ihnen eine angenehme Arbeitsatmosphäre in Betriebssystemen mit hauseigenem Dunkelmodus, beispielsweise MacOS.</p>

        <div class="card-footer">
            <a class="btn btn-secondary w-100" href="#" data-icon="adjust" data-title="Dunkelmodus" data-description="Der Dunkelmodus ermöglicht Ihnen eine angenehme Arbeitsatmosphäre. Hierbei wird in Betriebssystemen mit hauseigenem Dunkelmodus, wie etwa MacOS, iOS oder Android, die Aktivierung automatisch durch die betriebssystemweite Einstellung reguliert." data-toggle="modal" data-target="#details">Mehr</a>
        </div>

    </div>

    <div class="card text-center feature">

        <i class="fas fa-cloud-download-alt fa-5x"></i>

        <h3>Updates</h3>

        <p class="feature-desc away">Automatische Updates sorgen stets für Sicherheit und garantieren Ihnen Zugriff auf neue Features.</p>

        <div class="card-footer">
            <a class="btn btn-secondary w-100" href="#" data-icon="cloud-download-alt" data-title="automatische Updates" data-description="Wichtige Sicherheits- und Funktionsupdates werden von der Software automatisch installiert - selbstverständlich werden nur rückwärtskompatible Updates installiert, sogennante Major-Updates, die veraltete Funktionen entfernen können, werden nur mit Ihrer Zustimmung installiert." data-toggle="modal" data-target="#details">Mehr</a>
        </div>

    </div>

    <div class="card text-center feature">

        <i class="fas fa-file-pdf fa-5x"></i>

        <h3>Export</h3>

        <p class="feature-desc away">Eine breite Auswahl an Exportformaten ermöglicht Ihnen stetige Mobilität.</p>

        <div class="card-footer">
            <a class="btn btn-secondary w-100" href="#" data-icon="file-pdf" data-title="Export" data-description="Eine breite Auswahl an Exportformaten ermöglicht Ihnen beispielsweise die Erstellung von Übersichten, Statistiken und Backups." data-toggle="modal" data-target="#details">Mehr</a>
        </div>

    </div>

    <div class="card text-center feature">

        <i class="fas fa-server fa-5x"></i>

        <h3>Kompatibilität</h3>

        <p class="feature-desc away">Durch die Unterstützung vieler Datenbank- und Mailserver kann die Medienverwaltung auf beinahe allen UNIX-basierten Serversystemen nativ betrieben werden.</p>

        <div class="card-footer">
            <a class="btn btn-secondary w-100" data-toggle="modal" data-target="#details" data-icon="server" data-title="Kompatiblität" data-description="Die Medienverwaltung unterstütz eine vielzahl an Datenbank- und Mailservern, wodurch sie sehr flexibel einsetzbar ist. Selbst auf nicht unterstützten System kann Sie als <abbr title='Software zur Containervirtualisierung'>Docker</abbr>container betrieben werden. Das Docker-Setup ist im Kauf enthalten." href="#">Mehr</a>
        </div>

    </div>

</div>



{#MODAL#}

<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="detailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsLabel details-title">Titel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="details-text">Text</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

{#SCRIPT#}

<script type="text/javascript">

    $(document).ready(function() {
        $('.feature').popover({
            html : true,
            content: function() {
                return $('.feature-desc', this).html();
            }
        });

       $(".feature").mouseenter(function() {
            $(this).popover('show');
       });
       $(".feature").mouseleave(function() {
           $(this).popover('hide');
       });
        $('#details').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var title = button.data('title') // Extract info from data-* attributes
            var text = button.data('description');
            var icon = button.data('icon');
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').html('<i class="fas fa-' + icon + '">&nbsp;&nbsp;' + title + '</i>')
            modal.find('#details-text').html(text)
        })
    });

</script>

{#<div class="d-lg-none">

    <p>Hi!</p>

</div>#}