<div class="card-group">
    <div class="card">
        <div class="card-body text-center">
            <i class="fas fa-download fa-5x text-center"></i>
            <h5 class="card-title i-step">Herunterladen</h5>
            <p class="card-text">Laden Sie die Installationsdatei im Kundencenter herunter.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Schritt 1</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <i class="fas fa-cloud-upload-alt fa-5x text-center"></i>
            <h5 class="card-title i-step">Hochladen</h5>
            <p class="card-text">Laden Sie die Installationsdatei auf Ihren Webserver.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Schritt 2</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <i class="fas fa-tools fa-5x text-center"></i>
            <h5 class="card-title i-step">Setup</h5>
            <p class="card-text">Rufen Sie die Seite auf und legen Sie einen Benutzer an.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Schritt 3</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <i class="fas fa-check fa-5x text-center"></i>
            <h5 class="card-title i-step">Fertig</h5>
            <p class="card-text">Fertig - genießen Sie die nun gewonnenen Vorzüge!</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Schritt 4</small>
        </div>
    </div>
</div>