<div class="head text-center mrt-20">
    <a id="pricing"><h3>Unser Newsletter</h3></a>
    <p>Abonnieren Sie unseren kostenfreien Newsletter, um stets auf dem neusten Stand zu bleiben!</p>
</div>

<form method="POST" action="#">

    <div class="row">

        <div class="col-sm-12">

            <div class="input-group">
                <input name="f1" value="" class="form-control" type="email" maxlength="100" placeholder="Ihre E-Mail-Adresse">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success">Abonnieren</button>
                </div>
            </div>
            <small class="text-muted">Mit der Registrierung für den Newsletter erklären Sie sich einverstanden, den Newsletter zu erhalten. Eine Abmeldung ist jederzeit möglich.</small>

        </div>

    </div>

</form>