<div class="text-center">
    <h4>- und werden Sie Teil einer großen Community!</h4>
</div>

<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 ml-auto">

        <div class="custom-control custom-switch pull-right" data-toggle="tooltip" data-html="true" title="Wenn aktiviert, kümmern wir uns um die Installation und Einrichtung auf einem von uns bereitgestellten Server. <a href='#' target='_blank'>Mehr Infos...</a>">
            <input type="checkbox" class="custom-control-input" id="self_host" checked>
            <label class="custom-control-label" for="self_host">Cloud-Hosting</label>
        </div>

    </div>
</div>


<div class="card-group mrt-20">
    <div class="card card-hover card-clickable">
        <span class="self-host">
            <div class="ribbon red"><span>Rabatt</span></div>
        </span>
        <div class="card-header text-center">
            Basic
        </div>
        <div class="card-body">
            <div class="text-center">
                <h1 class="card-title i-step price"><span class="self-host"><span class="strikethrough">11€</span>&nbsp;9€</span><span class="cloud-host">14€</span></h1>
            </div>
            <ul class="check-bullet">
                <li>Grundfunktionalität</li>
                <li>Bis zu 5 Benutzer</li>
                <span class="cloud-host"><li>Bis zu 500MB <span data-toggle="tooltip" data-html="true" title="Datenbank- und Festplattenspeicher">Speicher</span></li></span>
            </ul>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted"><span class="self-host">einmalig</span><span class="cloud-host">jährlich</span></small>
        </div>
    </div>
    <div class="card card-hover card-clickable">
        <span class="cloud-host">
            <div class="ribbon green"><span>Top-Preis</span></div>
        </span>
        <div class="card-header text-center">
            Pro
        </div>
        <div class="card-body">
            <div class="text-center">
                <h1 class="card-title i-step price"><span class="self-host">19€</span><span class="cloud-host"><span class="strikethrough">27€</span>&nbsp;24€</span></h1>
            </div>
            <ul class="check-bullet">
                <li>Basic</li>
                <li>Bis zu 150 Benutzer</li>
                <li>Importassistent</li>
                <li>Exportfunktionalität</li>
                <li>LDAP-Anbindung</li>
                <li>E-Mail-Benachrichtigungen</li>
                <span class="cloud-host"><li>Bis zu 15GB <span data-toggle="tooltip" data-html="true" title="Datenbank- und Festplattenspeicher">Speicher</span></li></span>
            </ul>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted"><span class="self-host">einmalig</span><span class="cloud-host">jährlich</span></small>
        </div>
    </div>
    <div class="card card-hover card-clickable">
        <div class="card-header text-center">
            Enterprise
        </div>
        <div class="card-body text-center">
            <p class="card-text">Sie wollen die Software in Ihrem Unternehmen einsetzten? Kontaktieren Sie uns jetzt, um ein auf Ihre Bedürfnisse zugeschnittenes Preisangebot zu erhalten!</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Kontaktieren Sie uns jetzt</small>
        </div>
    </div>
</div>

<small class="text-muted">Alle angegebenen Preise beinhalten - soweit für Ihr Land zutreffend - anfallende Mehrwert- oder Umsatzsteuern.</small>

<script type="text/javascript" src="{{ asset('js/pricing.js') }}"></script>