{% extends 'base.html.twig' %}

{% block title %}Über MercrediInventions{% endblock %}

{% block body %}
<div class="container mrt-20">

    <h2>Über uns</h2>

    <div class="row">
        <div class="col-sm-8">
            <blockquote class="blockquote">
                <p class="mb-0"><span class="lobster">MercrediInventions</span> steht bereits seit über 10 Jahren für Qualität und Sicherheit - egal, ob für Ihr Unternehmen, oder für Sie als Privatanwender. <a href="http://example.com" target="_blank">Erfahren Sie jetzt mehr über uns!</a></p>
            </blockquote>
        </div>
        <div class="col-sm-4">
            <img src="{{ asset('promo/Mobile_Promo A/4.jpg') }}" class="soft-border" style="border-radius: 10px;" width="400" height="711">
        </div>
    </div>

</div>
{% endblock %}
