{% extends 'base.html.twig' %}

{% block title %}Über MercrediInventions{% endblock %}

{% block body %}
<div class="container mrt-20">



    <div class="row">
        <div class="col-sm-8">
            <h2>Über uns</h2>
            <blockquote class="blockquote">
                <p class="mb-0"><span class="lobster">MercrediInventions</span> steht bereits seit über 10 Jahren für Qualität und Sicherheit - egal, ob für Ihr Unternehmen, oder für Sie als Privatanwender. Wir entwickeln als mittelständisches Unternehmen mit etwa 100 Mitarbeiterinnen und Mitarbeitern  sowohl zugeschnittene, als auch offene Softwarelösungen. Zudem agieren wir durch die Bereitstellung quelloffener <abbr title="Application Programming Interface">APIs</abbr>, Bibliotheken und Frameworks auch als Plattform für andere Entwickler. <a href="http://example.com" target="_blank">Erfahren Sie jetzt mehr über uns!</a></p>
            </blockquote>
            <h2>Eckdaten zu MediFix</h2>
            <blockquote class="blockquote">
                <p class="mb-0">ToDo</p>
            </blockquote>
        </div>
        <div class="col-sm-4">
            <img src="{{ asset('promo/Mobile_Promo A/4.jpg') }}" class="soft-border" style="border-radius: 10px;" width="400" height="711">
        </div>
    </div>

</div>
{% endblock %}
