<div class="row">

    <div class="col-sm-12">
        <div class="w-100 h-100">
            <div class="phone-container">
                <div class="phone-container-inner">
                    <img src="{{ asset('promo/Mobile_Promo A/0.jpg') }}" width="765" height="1361" class="abs_background zoom-out-bg">
                    <img src="{{ asset('promo/TransMock/i8_Gray.png') }}" class="overlay-img">
                </div>
            </div>
        </div>
    </div>

</div>