<div class="row">

    <div class="col-sm-5"><h1>Test</h1></div>
    <div class="col-sm-7">
        <div class="scale_down">
            <div class="phone-container back-trans">
                <div class="phone-container-inner">
                    <img src="{{ asset('promo/Mobile_Promo A/0.jpg') }}" class="abs_background zoom-out-bg promo-a-measures sc-img">
                    <img src="{{ asset('promo/TransMock/Apple iPhone 8 Space Grey.png') }}" class="overlay-img sc-img">
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{{ asset('js/mockup.js') }}" type="text/javascript"></script>